body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : whitesmoke;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.orders{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product{
    padding: 2em;
    margin: 2em;
    line-height: 1.4;
    border-radius: 4px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: ghostwhite;
    box-shadow: 3px 3px 3px #888888, -3px -3px 3px white;
}

.roundImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #888888, -3px -3px 3px white;
}

.info{
    text-align:left;
    font-family: "Trebuchet MS", sans-serif;
    padding: 1em;
    margin: 1em;
    box-shadow: 3px 3px 3px #888888, -3px -3px 3px white;
}
.form{
    display:flex;
    flex-direction: column;

}

#big{
    height: 5em;
}
.formLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginBody{

}
.login{
    border: 1em solid black;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginInputs{
    padding: 1em;
    margin: 1em;
}

.order{
    box-shadow: 3px 3px 3px #888888, -3px -3px 3px white;
    background: #a7a6ff;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.selectedProducts{
    display: grid;
    grid-template-columns: 1fr;
}

.error{
    text-underline: red;
    color: red;
}
.success{
    text-underline: forestgreen;
    color: green;
}
